<ul>
  <% @todo_items.each do |todo_item| %>
    <li><%= link_to todo_item.title, todo_item_path(todo_item)%></li>
  <%end%>
</ul>
<button><%=link_to '+ Create New Todo', new_todo_item_path(@todo_items)%></button>
